@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&family=Nanum+Myeongjo&display=swap');

html {
  font-family: 'Nanum Myeongjo', serif; 
}

*, *::after, *::before{ 
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    box-sizing: border-box;
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Brygada 1918', serif;
    margin: 0px;
}

/* navbar */

.navbar {
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__navigation{
    list-style:none;
    flex-direction: column;
    padding: 0;
    display:block; 
    color: #424c4f;
}

.navbar__navigation-item{
    margin-left: 10px;
}

.navbar__link{
    text-decoration: none;
    color: inherit;
}

/* main */

.main {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%
}

.form_label {
    display: block;
    margin-bottom: 10px;
}

.form__textarea{
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #f3f6f6;
    margin-bottom: 10px;
}

.form__submit {
    background-color: #3cd0ff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #18c1e1;
}


h2 {
    box-sizing: border-box;
    font-size: 25px;
    width: 100%;
    text-align: left;
    font-family: 'Brygada 1918', serif;
    margin: 0px;
}


h3 {
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.entry {
    margin-top: 50px;
}

.entry__title {
    display: inline;
    font-size: 16px;
}

.entry__date {
    color: #5c6b70;
}

.entry__content {
    font-size: 16px;
    line-height: 150%;
}

pre {
    white-space: normal;
    margin: 10px auto;
}



/*footer*/
.footer {
    background-color: #323f43;
    padding: 40px 0;
    margin: 50px 0 0 0;
    border-top: 4px solid black;
    color: white;
    font-size: 12px;
}

.footer__content {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer__item {
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
}

.footer__item:hover {
    text-decoration: underline;
    
}