<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="sykim"/>
    <title>Whitespace - Admin</title>
    <link rel='stylesheet' href='../static/css/admin_style.css'/>
    <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
</head>
<body>

  <header class="navbar">
    <div class="navbar__brand">
        <h1>Whitespace - Admin</h1>
    </div>
</header>

    <main>
      <section>
        <h2>New post</h2>

        <form class="form" action="/admin/posts_list" method="POST">
          {{ form.csrf_token() }}
          {% for post in post_data %}
            <p class="form__input_title">
              <label class="entry_title">Title</label>
              <textarea required name="title" id="title" class="form__title">{{post[0]}}</textarea>
            </p>
          {% endfor %}

          {% for text in post_content %}
            <p class="form__input_content">
              <label class="entry_content">Content</label>
              <textarea name="content" id="content" class="form__content">{{text}}</textarea>
          {% endfor %}

            </p>

            {{ form.submit }}

        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}



      </section>
    </main> 

</body>
</html>