<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Second Page</h1>
    <p>
        Jinja said haer top three favorite movies were {{ movies[0 ]}},
        {{ movies[1] }} and {{ movies[2]  }}

    </p>

    <p>four galilean moons of Jupier are {{moons.first}} , {{moons.second}} , {{moons.third}}, {{moons.fourth}}</p>
</body>
</html>