<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="sykim"/>
    
    <title>Whitespace</title>

    <link rel='stylesheet' href='../static/css/style.css'/>
</head>
<body>

  <header class="navbar">
    <div class="navbar__brand">
        <h1>Whitespace - Admin</h1>
       </div>
       <ul class="navbar__navigation">
         <li class="navbar__navigation-item"><a href="#" class="navbar__link">Recent</a></li>
         <li class="navbar__navigation-item"><a href="#" class="navbar__link">Calendar</a></li>
       </ul>
</header>

    <section>
      <h2>New post</h2>

      <form class="form" action="/write_post" method="POST">
          <p class="form__input_title">
            <label for="entry_title">Title</label>
            <textarea name="title" id="title" class="form__title"></textarea>
          </p>
          <p class="form__input_content">
            <label for="entry_content">Content</label>
            <textarea name="content" id="content" class="form__content"></textarea>
          </p>
          <button type="submit" class="form__submit">Add</button>
      </form>
      </section>



</body>
</html>