<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="sykim"/>
    <title>Whitespace - Admin</title>
    <link rel='stylesheet' href='../static/css/admin_style.css'/>
</head>
<body>

  <header class="navbar">
    <div class="navbar__brand">
        <h1>Whitespace - Admin</h1>
    </div>
</header>

    <main>
      <section>
        <h2>New post</h2>

        <form class="form" action="/admin/write_post" method="POST">
          {{ form.csrf_token() }}
          {{ form.title.label }}<br>
          {{ form.title }}<br><br>
          {{ form.body.label }}<br>
          {{ form.body }}
          <br>
          {{ form.submit }}
          
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}


      </section>
    </main> 

</body>
</html>